@charset 'utf-8';

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
#f-col{
    color: #32dbc6;
}

body{
    margin: 0;
    overflow-x: hidden;
    background: #ffffff;
}

a{
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.global-nav{
    position:fixed;
	top: 0; 
	left: 0;
	width: 100%;
	height:52px;
    border-bottom:1px solid #ddd;
    position: inherit;
}

.global-nav-links{
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.global-nav-links .home{
    margin-right: auto;
    font-size: 1.6rem;
    font-weight: bold;
}

.global-nav-links a{
    font-size : 1rem;
}

.global-nav-links a:not(.home){
    margin-left: 2em;
}

.bgimg {
    background-image: url('../images/main.jpg');
    background-position: top;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.scroll_down{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 9em;
    font-size: 0.9rem;
}

.scroll-section{
    border: 1px solid #32dbc6;
}

#scroll-section-0 p{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 36vh;
    color: rgb(29, 29, 31);
}

#scroll-section-0 p:not(.scroll_down){
    font-size: 3rem;
}

#scroll-section-0 b{
    border-bottom: 1.5px solid #32dbc6;
}

/* About */
.about_container{
    max-width: 1400px;
    margin: auto;
}

.about_container li{
    list-style: none;
}

.about_left_title{
    display: flex;
    margin-top: 6rem;
}

.about_left_content{
    margin-top: 4em;
    margin-left: 2.25em;
}

.about_left_content div{
    font-size: 2rem;
}

.about_left_content li{
    font-size: 1.5rem;
}

.about_right_container{
    margin-top: 10em;
}

.about_right_container p{
    font-size: 2rem;
}

.about_pin{
    width: 180px;
    height: 0.8px;
    margin-top: 2.2em;
    margin-left: 0.5em;
    background: rgb(29, 29, 31);
}

.pb1{
    padding-bottom: 1em;
}

.pb2{
    padding-bottom: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > .col-4 {
    width: 33.33333%;
}

.row > .col-8 {
    width: 66.66667%;
}

/* footer */
footer{
    color: rgb(29, 29, 31);
}

footer li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 4rem;
}

.footer_container{
    background-color: #E2E2E2;
}

.footer_high_container{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.footer_high_container h4{
    font-size: 1.5rem;
}

.footer_low_container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    height: 8rem;
    padding-bottom: 1rem;
}

.wrapper{
    display: flex;
}

.left-margin{
    margin-left: 2rem;
}

.footer-link{
   font-size: 1.5rem;
   font-weight: bold;
}

.footer_pin{
    width: 120px;
    height: 0.8px;
    margin-top: 3em;
    margin-left: 0.5em;
    background: rgb(29, 29, 31);
}
